.App {
    text-align: center;
}
.App-body {
        background-color: #79A398;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        font-size: calc(10px + 2vmin);
        color: white;

}
.Container {
    width: 80%;
    height:60%;
    border-radius: 20px;
    background-image: url('homapagepic.jpg');
    background-size: cover;
    margin: 3em;
    padding: 10px;
}

.Container-header {
    position: relative;
    top: 0;
    border-bottom: 2px, solid,#79A398 ;
    text-align: right;
    
}
.Container-header button {
    margin: 2px;
    background-color: #dfa000e1;
    border: 0px;
    border-radius: 2px;
    color: white;
    height: 35px;
    padding: 10px;
}
.Container-body{
    padding: 10px;
    text-align: center;
    
}
.Container-body{
 color: wheat;
}
.Container-body p{
    color: wheat;
    font-size: 18px;
    
    width: max-content;
}

.Container-body button {
    background-color: #DFA100;
    border: 0px;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    height: 35px;
    padding: 10px;
}

.modal{
    background-color:rgba(245, 201, 91, 0.872);
    color: rgba(255, 255, 255, 0.838);
    height: max-content;
    width: 550px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid white;
    border-radius: 25px;
    text-align: center;
    margin: 20px;
    padding: 10px;
}
.modal button {
    background-color: #79A398;
    height: 40px;
    margin: 5px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;

}
